@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFE9AD;
}

.todoBox{
    padding: 50px 35px;
    background-image: url('https://us.123rf.com/450wm/pro100vector/pro100vector1802/pro100vector180200153/96276872-geometric-abstract-background-with-hexagon-molecule-.jpg?ver=6');
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    text-align: center;
    color: rgb(39, 38, 38);
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    background-color: #fdf1ce;
    margin-bottom: 10px;
    padding: 10px 17px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}